<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Detail</title>
</head>
<body>
         Dear Vendor,<br>
         <p>Please work on the following details:</p><br><br>
         <b>Job Title</b> : {{raw_data.job_title}}<br>
         <b>Job Description</b> : {{raw_data.job_description}}<br>
         <b>Experience</b> : {{raw_data.experience}}<br>
         <b>Location</b> : {{raw_data.location}}<br>
         <b>Primary Skill</b> : {{raw_data.primary_skills}}<br>
         <b>No of Positions</b> : {{raw_data.no_positions}}<br>
         <b>Lead Time</b> : {{raw_data.lead_time}}<br>
         <b>Job Type</b> : {{raw_data.job_type}}<br><br>

         Regards, <br>
         {{data2}},({{data1}})
</body>

</html>